In [1]:
import pandas as pd

# Load file with available points

In [2]:
# the city information is available in the `simplemaps.csv` file
df_all = pd.read_csv('data/global-streetscapes/data/simplemaps.csv', index_col=0)
df_all.head()

/var/folders/kw/9lnn_1r159n28p1krywmf8_w0000gq/T/ipykernel_32607/1022685395.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_all = pd.read_csv('data/global-streetscapes/cities688_all_standard/tables/simplemaps.csv', index_col=0)

,source,orig_id,city,city_ascii,city_id,city_lat,city_lon,country,iso2,iso3,admin_name,capital,population,continent
uuid,,,,,,,,,,,,,,
d3cca4a7-7994-47ff-9749-7df8ca7228e3,Mapillary,412070930384924,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
33f474ab-496e-41a7-86a6-08fad8fe6638,Mapillary,897137344568478,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
0da8bf8d-bf34-4d94-aa51-2a7a3c880f6b,Mapillary,266236242103987,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
23c0aa2e-573b-4a3f-a65b-fb8f7349725b,Mapillary,646336503014104,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
4f47ba8e-8437-4213-9721-8336b02ea703,Mapillary,404485487755735,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia

# Filter based on cities

In [3]:
# Singapore, Amsterdam, San Francisco, Abuja, Santiago 
city_id = [1702341327, 1528355309, 1840021543, 1566342270, 1152554349]

In [4]:
df_city = df_all[df_all['city_id'].isin(city_id)]
df_city.groupby("city").size()

city
Abuja              440
Amsterdam        26421
San Francisco    68040
Santiago         12214
Singapore        22579
dtype: int64

# Filter contextual information

The filtering criteria is:

- No panoramic images: `pano_status` == False
- Good quality `quality` == good
- No reflection `reflection` == no
- During the day: `lighting_condition` == day
- Clear weather :`weather` == clear
- View direction `view_direction` == `front/back`

In [5]:
# load contextual information
df_contextual = pd.read_csv("data/global-streetscapes/data/contextual.csv")
df_season = pd.read_csv("data/global-streetscapes/data/season.csv")

/var/folders/kw/9lnn_1r159n28p1krywmf8_w0000gq/T/ipykernel_32607/2913868324.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_contextual = pd.read_csv("data/global-streetscapes/cities688_all_standard/tables/contextual.csv")

In [6]:
# merge our filtered dataset with contextual data
df_city_merged = df_city.merge(df_contextual, on=['uuid', 'source', 'orig_id'])
df_city.groupby("city").size()

city
Abuja              440
Amsterdam        26421
San Francisco    68040
Santiago         12214
Singapore        22579
dtype: int64

# No panoramic

In [7]:
df_filtered = df_city_merged[df_city_merged['pano_status'] == False]
df_filtered.groupby("city").size()

city
Abuja              440
Amsterdam        10965
San Francisco    65955
Santiago         12214
Singapore        22579
dtype: int64

# Quality

In [8]:
df_filtered = df_filtered[df_filtered['quality'] == 'good']
df_filtered.groupby("city").size()

city
Abuja              353
Amsterdam         9814
San Francisco    60565
Santiago          9967
Singapore        15880
dtype: int64

# Reflection

In [9]:
df_filtered = df_filtered[df_filtered['reflection'] == 'no']
df_filtered.groupby("city").size()

city
Abuja              257
Amsterdam         8588
San Francisco    53933
Santiago          7703
Singapore         7249
dtype: int64

## Lighting condition

In [10]:
df_filtered = df_filtered[df_filtered['lighting_condition'] == 'day']
df_filtered.groupby("city").size()

city
Abuja              257
Amsterdam         8094
San Francisco    53411
Santiago          7651
Singapore         7213
dtype: int64

# Weather

In [11]:
df_filtered = df_filtered[df_filtered['weather'] == 'clear']
df_filtered.groupby("city").size()

city
Abuja              188
Amsterdam         5717
San Francisco    46221
Santiago          5203
Singapore         4567
dtype: int64

## View direction

In [12]:
df_filtered = df_filtered[df_filtered['view_direction'] == 'front/back']
df_filtered.groupby("city").size()

city
Abuja              185
Amsterdam         3538
San Francisco    25916
Santiago           645
Singapore         1985
dtype: int64

# Save to csv

In [13]:
df_filtered.to_csv('download_imgs/selected_points.csv')